.checkmarkColor{
    height: 18px;
    width: 18px;
    /* background:green; */
    border-radius: 50%;
    display:flex;
    margin:2px;
}

/* .blue{
    background-color: blue;
}

.green{
    background-color: green;
} */

/* .checkmarkColor::after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius:50%;
    background:green;
} 
*/
/* .radioBtn:checked~.checkmarkColor{
    border:2px solid #2f5acf;
}

.radioBtn:checked~.checkmarkColor::after{
    display:block;
} */

.selectBorder{
    border-radius:50%;
}

.selectBorder:hover{
    border:2px solid gray;
}

.radioBtn~.checkmarkColor:hover{
    transform:scale(1.25);
}

.radioBtn:checked~.selectBorder{
    border:2px solid #2f5acf;
}

.slide-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }